@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
:root {
    /* ### Theme 1 */

    /* #### Backgrounds */

    --mainbackground: hsl(222, 26%, 31%);
    --togglebackground: hsl(223, 31%, 20%);
    --screenbackground: hsl(224, 36%, 15%);

    /* #### Keys */

    --keybackground1: hsl(225, 21%, 49%);
    --keyshadow1: hsl(224, 28%, 35%);

    --keybackground2: hsl(6, 63%, 50%);
    --keyshadow2: hsl(6, 70%, 34%);

    --keybackground3: hsl(30, 25%, 89%);
    --keyshadow3: hsl(28, 16%, 65%);

    /* #### Text */

    --numberColor: hsl(221, 14%, 31%);
    --textColor: hsl(0, 0%, 100%);
    --topColor: hsl(0, 0%, 100%);
}

.second_theme {
    /* ### Theme 2*/

    /* #### Backgrounds */

    --mainbackground: hsl(0, 0%, 90%);
    --togglebackground: hsl(0, 5%, 81%);
    --screenbackground: hsl(0, 0%, 93%);

    /* #### Keys */

    --keybackground1: hsl(185, 42%, 37%);
    --keyshadow1: hsl(185, 58%, 25%);

    --keybackground2: hsl(25, 98%, 40%);
    --keyshadow2: hsl(25, 99%, 27%);

    --keybackground3: hsl(45, 7%, 89%);
    --keyshadow3: hsl(35, 11%, 61%);

    /* #### Text */

    --numberColor: hsl(60, 10%, 19%);
    --textColor: hsl(0, 0%, 100%);
    --topColor: hsl(60, 10%, 19%);
}
.third_theme {
    /* ### Theme 3 */

    /* #### Backgrounds */

    --mainbackground: hsl(268, 75%, 9%);
    --togglebackground: hsl(268, 71%, 12%);
    --screenbackground: hsl(268, 71%, 12%);

    /* #### Keys */

    --keybackground1: hsl(281, 89%, 26%);
    --keyshadow1: hsl(285, 91%, 52%);

    --keybackground2: hsl(176, 100%, 44%);
    --keyshadow2: hsl(177, 92%, 70%);

    --keybackground3: hsl(268, 47%, 21%);
    --keyshadow3: hsl(290, 70%, 36%);

    /* #### Text */

    --numberColor: hsl(52, 100%, 62%);
    --textColor: hsl(0, 0%, 100%);
    --topColor: hsl(52, 100%, 62%);
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
html, body {
    height: 100vh;
}
html {
    font-family: 'League Spartan', sans-serif;
}

body {
    background: var(--mainbackground);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    color: var(--textColor);
    align-items: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 28px;
    font-weight: 900;
}

.calc {
    display: flex;
    gap: 30px;
    align-items: center;
    color: var(--topColor);
}

.mode {
    display: flex;
    gap: 14.5px;
    padding: 5px 8px;
    font-weight: 900;
    color: var(--topColor);
    left: 50%;
    transform: translateX(88%);
}

.input_div {
    padding: 20px 0
}

.input {
    overflow: scroll;

    max-width: 550px;
    height: 130px;
    border: none;
    background: var(--screenbackground);
    border-radius: 10px;
    font-size: 64px;
    font-weight: 700;
    color: var(--textColor);
    padding: 0 25px;
    text-align: right;
    cursor: pointer;
}

.number_button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 35px 30px;
    border-radius: 10px;
    background: var(--togglebackground);
    text-align: center;
}

.number {
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: var(--keybackground3);
    font-size: 42px;
    color: var(--numberColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid var(--keyshadow3);
    cursor: pointer;
}

.number:hover {
    filter: brightness(150%);
}

.number:last-child {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: var(--keybackground2);
    border-bottom: 4px solid var(--keyshadow2);
    color: var(--textColor);
}

.number:last-child:hover {
    filter: brightness(150%);
}

.number:nth-child(17) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.word {
    background: var(--keybackground1);
    color: var(--textColor);
    font-size: 32px;
    border-bottom: 4px solid var(--keyshadow1);
}

.toggle {
    width: 70px;
    height: 25px;
    background: var(--togglebackground);
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.toggle_button {
    width: 18px;
    height: 18px;
    background: var(--keybackground2);
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 5px;
    transition: 0.3s;
}

.toggle_button:hover {
    filter: brightness(150%);
}

.toggle.active .toggle_button {
    top: 3px;
    left: 27px;
}

.toggle.active-2 .toggle_button {
    left: 48px;
}

.attribution {
    font-size: 11px; text-align: center;
    font-size: 16px;
    padding: 30px;
    color: var(--topColor);
}
.attribution a {
    color: hsl(228, 45%, 44%);
    color: var(--keybackground2);
    font-size: 16px;
    text-decoration: none
}